/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/02/2017, 10:21:43
    Author     : Muneratto
*/
html {
  padding: 0px;
  margin: 0px; }

body {
  position: static; }

.clear, .cls {
  clear: both; }

header {
  padding-top: 15px; }
  header h1 {
    font-size: 18px;
    margin: 5px 0px; }

h2 {
  font-size: 15px; }

.jconfirm-newmodal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4 !important; }
  .jconfirm-newmodal .form {
    padding: 10px; }
  .jconfirm-newmodal .jconfirm-box {
    background: #FFF;
    border: 1px #CCC solid;
    border-radius: 0px;
    padding: 0px 0px;
    overflow: hidden; }
    .jconfirm-newmodal .jconfirm-box .title {
      background: #4977BC;
      padding: 5px 10px;
      color: #FFF;
      font-size: 15px !important; }
  .jconfirm-newmodal .jconfirm-title-c {
    padding: 0px !important;
    border-bottom: 1px #CCC solid;
    background: #5bc0de; }
  .jconfirm-newmodal .jconfirm-title {
    padding: 5px !important;
    font-size: 18px !important;
    color: #FFF; }
  .jconfirm-newmodal .jconfirm-closeIcon {
    background: #FF0000;
    color: #FFF;
    opacity: 1 !important;
    padding: 0px; }
    .jconfirm-newmodal .jconfirm-closeIcon span {
      font-size: 10px !important; }
    .jconfirm-newmodal .jconfirm-closeIcon:hover {
      opacity: 0.8 !important; }
  .jconfirm-newmodal .content {
    padding: 10px; }
    .jconfirm-newmodal .content form {
      width: 100% !important; }
  .jconfirm-newmodal .jconfirm-buttons {
    border-top: 1px #ccc solid;
    padding: 10px; }
  .jconfirm-newmodal .buttons {
    border-top: 1px #EEE solid;
    padding: 0px;
    width: 100%;
    padding: 0;
    padding-right: 10px; }
    .jconfirm-newmodal .buttons button {
      float: right;
      margin-left: 10px;
      margin-bottom: 10px;
      border-radius: 0px; }
      .jconfirm-newmodal .buttons button.btn-cancel {
        color: #F00; }

.list-items {
  list-style: none;
  margin-bottom: 0;
  padding: 10px; }
  .list-items .item {
    border: 1px solid transparent;
    margin-bottom: 5px;
    padding-top: 16px;
    padding-bottom: 4px;
    padding-left: 35px;
    border-bottom: 1px solid #eee;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    position: relative; }
    .list-items .item .item-title {
      font-weight: 600;
      font-size: 16px; }
    .list-items .item .check {
      position: absolute;
      left: 12px;
      top: 16px;
      opacity: 0; }
    .list-items .item .drag-handler {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 5px;
      border-left: 2px dotted #ddd;
      border-right: 2px dotted #ddd; }
    .list-items .item .btEdit {
      position: absolute;
      right: 0px;
      top: 0px; }
    .list-items .item .bt {
      position: absolute;
      top: 5px;
      right: 5px; }

footer {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 10px 0px; }
  footer hr {
    padding: 0px 0px 5px 0px;
    margin: 0px; }

/*# sourceMappingURL=default.css.map */
